In [1]:
# %%============== Import libraries =========
import numpy as np
import pandas as pd
import warnings
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import stats
from scipy import stats
import plotly.express as px
import my_functions as mf
import plotly.io as pio
import random
import vs_functions as vl

pio.renderers.default = "browser"
import plotly.graph_objects as go

In [2]:
# %%==============  Define the initial values  =========

users = random.sample(range(10, 300000), 1)
# tot_users = list(np.array(users))
tot_users  = [700, 1024, 2000, 5000, 5500, 7000, 10001, 20000, 65536, 70000]

iaas_dict = dict()
caas_dict = dict()
i = {}
c = {}
appended_data = {}

In [3]:
# %%==============  Calculate the total resources per technology by users   =========
vm_types = ['xsmall', 'small', 'medium', 'large'] 
components = ['nginx', 'framework', 'rel_db']

# users_size = zip(users, vm_types)
# users_size

In [4]:
for users in tot_users:
    iaas_dict[users, 'nginx'] = vl.iaas.nginx(users)
    iaas_dict[users, 'framework'] = vl.iaas.framework(users)
    iaas_dict[users, 'rel_db'] = vl.iaas.rel_db(users)
    caas_dict[users, 'nginx'] = vl.caas.nginx(users)
    caas_dict[users, 'framework'] = vl.caas.framework(users)
    caas_dict[users, 'rel_db'] = vl.caas.rel_db(users)
    caas_dict[users, 'mem_db'] = vl.caas.memory_db(users)
    
# print("iaas_dict", iaas_dict)
# print("caas_dict", caas_dict)

iaas_dict {(700, 'nginx'): (1, 18, 14, 288, 'iaas'), (700, 'framework'): (1, 33, 9, 602.5, 'iaas'), (700, 'rel_db'): (1, 25, 9, 102.5, 'iaas'), (1024, 'nginx'): (1, 18, 14, 288, 'iaas'), (1024, 'framework'): (1, 33, 9, 602.5, 'iaas'), (1024, 'rel_db'): (1, 25, 9, 102.5, 'iaas'), (2000, 'nginx'): (2, 36, 28, 576, 'iaas'), (2000, 'framework'): (1, 33, 9, 602.5, 'iaas'), (2000, 'rel_db'): (1, 25, 9, 102.5, 'iaas'), (5000, 'nginx'): (5, 90, 70, 1440, 'iaas'), (5000, 'framework'): (1, 33, 9, 602.5, 'iaas'), (5000, 'rel_db'): (1, 25, 9, 102.5, 'iaas'), (5500, 'nginx'): (6, 108, 84, 1728, 'iaas'), (5500, 'framework'): (1, 33, 9, 602.5, 'iaas'), (5500, 'rel_db'): (2, 50, 18, 205.0, 'iaas'), (7000, 'nginx'): (7, 126, 98, 2016, 'iaas'), (7000, 'framework'): (1, 33, 9, 602.5, 'iaas'), (7000, 'rel_db'): (2, 50, 18, 205.0, 'iaas'), (10001, 'nginx'): (10, 180, 140, 2880, 'iaas'), (10001, 'framework'): (1, 33, 9, 602.5, 'iaas'), (10001, 'rel_db'): (3, 75, 27, 307.5, 'iaas'), (20000, 'nginx'): (20, 360, 280, 5760, 'iaas'), (20000, 'framework'): (1, 33, 9, 602.5, 'iaas'), (20000, 'rel_db'): (4, 100, 36, 410.0, 'iaas'), (65536, 'nginx'): (64, 1152, 896, 18432, 'iaas'), (65536, 'framework'): (2, 66, 18, 1205.0, 'iaas'), (65536, 'rel_db'): (14, 350, 126, 1435.0, 'iaas'), (70000, 'nginx'): (69, 1242, 966, 19872, 'iaas'), (70000, 'framework'): (2, 66, 18, 1205.0, 'iaas'), (70000, 'rel_db'): (14, 350, 126, 1435.0, 'iaas')}
caas_dict {(700, 'nginx'): (1, 8, 8, 255, 'caas'), (700, 'framework'): (1, 32, 8, 600, 'caas'), (700, 'rel_db'): (1, 24, 8, 100, 'caas'), (700, 'mem_db'): (1, 8, 4, 10, 'caas'), (1024, 'nginx'): (1, 8, 8, 255, 'caas'), (1024, 'framework'): (1, 32, 8, 600, 'caas'), (1024, 'rel_db'): (1, 24, 8, 100, 'caas'), (1024, 'mem_db'): (1, 8, 4, 10, 'caas'), (2000, 'nginx'): (2, 16, 16, 510, 'caas'), (2000, 'framework'): (1, 32, 8, 600, 'caas'), (2000, 'rel_db'): (1, 24, 8, 100, 'caas'), (2000, 'mem_db'): (1, 8, 4, 10, 'caas'), (5000, 'nginx'): (5, 40, 40, 1275, 'caas'), (5000, 'framework'): (1, 32, 8, 600, 'caas'), (5000, 'rel_db'): (1, 24, 8, 100, 'caas'), (5000, 'mem_db'): (1, 8, 4, 10, 'caas'), (5500, 'nginx'): (6, 48, 48, 1530, 'caas'), (5500, 'framework'): (1, 32, 8, 600, 'caas'), (5500, 'rel_db'): (2, 48, 16, 200, 'caas'), (5500, 'mem_db'): (1, 8, 4, 10, 'caas'), (7000, 'nginx'): (7, 56, 56, 1785, 'caas'), (7000, 'framework'): (1, 32, 8, 600, 'caas'), (7000, 'rel_db'): (2, 48, 16, 200, 'caas'), (7000, 'mem_db'): (1, 8, 4, 10, 'caas'), (10001, 'nginx'): (10, 80, 80, 2550, 'caas'), (10001, 'framework'): (1, 32, 8, 600, 'caas'), (10001, 'rel_db'): (3, 72, 24, 300, 'caas'), (10001, 'mem_db'): (2, 16, 8, 20, 'caas'), (20000, 'nginx'): (20, 160, 160, 5100, 'caas'), (20000, 'framework'): (1, 32, 8, 600, 'caas'), (20000, 'rel_db'): (4, 96, 32, 400, 'caas'), (20000, 'mem_db'): (2, 16, 8, 20, 'caas'), (65536, 'nginx'): (64, 512, 512, 16320, 'caas'), (65536, 'framework'): (2, 64, 16, 1200, 'caas'), (65536, 'rel_db'): (14, 336, 112, 1400, 'caas'), (65536, 'mem_db'): (7, 56, 28, 70, 'caas'), (70000, 'nginx'): (69, 552, 552, 17595, 'caas'), (70000, 'framework'): (2, 64, 16, 1200, 'caas'), (70000, 'rel_db'): (14, 336, 112, 1400, 'caas'), (70000, 'mem_db'): (7, 56, 28, 70, 'caas')}

In [5]:
# Convert dictionary to dataframe
iaas = pd.DataFrame.from_dict(iaas_dict)
caas = pd.DataFrame.from_dict(caas_dict)

In [6]:
# Transpose the dataframe
iaas = iaas.transpose()
caas = caas.transpose()
iaas.head()

                0   1   2      3     4
700  nginx      1  18  14    288  iaas
     framework  1  33   9  602.5  iaas
     rel_db     1  25   9  102.5  iaas
1024 nginx      1  18  14    288  iaas
     framework  1  33   9  602.5  iaas

In [7]:
caas.head()

                0   1  2    3     4
700  nginx      1   8  8  255  caas
     framework  1  32  8  600  caas
     rel_db     1  24  8  100  caas
     mem_db     1   8  4   10  caas
1024 nginx      1   8  8  255  caas

In [8]:
# Make index to column
iaas.reset_index(inplace=True)
caas.reset_index(inplace=True)

In [9]:
iaas.head()

   level_0    level_1  0   1   2      3     4
0      700      nginx  1  18  14    288  iaas
1      700  framework  1  33   9  602.5  iaas
2      700     rel_db  1  25   9  102.5  iaas
3     1024      nginx  1  18  14    288  iaas
4     1024  framework  1  33   9  602.5  iaas

In [10]:
# Rename the columns
iaas.columns = ['users', 'component', 'instances', 'RAM', 'CPU', 'STORAGE', 'technology']
caas.columns = ['users', 'component', 'instances', 'RAM', 'CPU', 'STORAGE', 'technology']
iaas

    users  component instances   RAM  CPU STORAGE technology
0     700      nginx         1    18   14     288       iaas
1     700  framework         1    33    9   602.5       iaas
2     700     rel_db         1    25    9   102.5       iaas
3    1024      nginx         1    18   14     288       iaas
4    1024  framework         1    33    9   602.5       iaas
5    1024     rel_db         1    25    9   102.5       iaas
6    2000      nginx         2    36   28     576       iaas
7    2000  framework         1    33    9   602.5       iaas
8    2000     rel_db         1    25    9   102.5       iaas
9    5000      nginx         5    90   70    1440       iaas
10   5000  framework         1    33    9   602.5       iaas
11   5000     rel_db         1    25    9   102.5       iaas
12   5500      nginx         6   108   84    1728       iaas
13   5500  framework         1    33    9   602.5       iaas
14   5500     rel_db         2    50   18   205.0       iaas
15   7000      nginx         7   126   98    2016       iaas
16   7000  framework         1    33    9   602.5       iaas
17   7000     rel_db         2    50   18   205.0       iaas
18  10001      nginx        10   180  140    2880       iaas
19  10001  framework         1    33    9   602.5       iaas
20  10001     rel_db         3    75   27   307.5       iaas
21  20000      nginx        20   360  280    5760       iaas
22  20000  framework         1    33    9   602.5       iaas
23  20000     rel_db         4   100   36   410.0       iaas
24  65536      nginx        64  1152  896   18432       iaas
25  65536  framework         2    66   18  1205.0       iaas
26  65536     rel_db        14   350  126  1435.0       iaas
27  70000      nginx        69  1242  966   19872       iaas
28  70000  framework         2    66   18  1205.0       iaas
29  70000     rel_db        14   350  126  1435.0       iaas

In [11]:
# Concatenate the dataframes
frames = [iaas, caas]
df = pd.concat(frames, ignore_index=True)
df.head()
df.to_csv(f'datasets/user_component_randm.csv')

In [15]:
# %% ================ Visualization ========================
#
# Grouped figured with averaged value
fig = px.histogram(df, x="technology", y=['RAM', 'CPU', 'STORAGE'] ,log_y=True,
                   barmode='group', text_auto=True, histfunc='avg')
fig.show()

fig = px.histogram(df, x='users', y='instances', facet_col='technology' ,log_y=False,
                   barmode='group', text_auto=True, color='technology')
fig.show()

# fig.write_html("resources_compare.html")
# %%
fig2 = px.scatter(df, x="users", y=['RAM', 'CPU', 'STORAGE'], facet_col='size', log_y=True)
fig2.show()
# fig2.write_html("users_resources.html")

ValueError: Value of 'facet_col' is not the name of a column in 'data_frame'. Expected one of ['users', 'component', 'instances', 'RAM', 'CPU', 'STORAGE', 'technology'] but received: size

In [ ]:
user_num = 65536

print("xsmall",vl.iaas.iaas_total(user_num,'xsmall'))
print("small",vl.iaas.iaas_total(user_num,'small'))
print("medium",vl.iaas.iaas_total(user_num,'medium'))
print("large",vl.iaas.iaas_total(user_num,'large'))
print('=============================================')
print("framework",vl.iaas.framework(user_num))
print("nginx",vl.iaas.nginx(user_num))
print("rel_db",vl.iaas.rel_db(user_num))
print('=============================================')
print("xsmall",vl.caas.caas_total(user_num,'xsmall'))
print("small",vl.caas.caas_total(user_num,'small'))
print("medium",vl.caas.caas_total(user_num,'medium'))
print("large",vl.caas.caas_total(user_num,'large'))
print('=============================================')
print("framework",vl.caas.framework(user_num))
print("nginx",vl.caas.nginx(user_num))
print("rel_db",vl.caas.rel_db(user_num))
print("mem_db",vl.caas.memory_db(user_num))