In [1]:
# %%============== Import libraries =========
import numpy as np
import pandas as pd
import warnings
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import stats
from scipy import stats
import plotly.express as px
import my_functions as mf
import plotly.io as pio
import random
import vs_functions as vl

pio.renderers.default = "browser"
import plotly.graph_objects as go

In [2]:
# %%==============  Define the initial values  =========

range1 = random.sample(range(10, 1024), 100)
range2 = random.sample(range(1025, 5000), 100)
range3 = random.sample(range(5001, 10000), 100)
range4 = random.sample(range(10001, 80000), 100)

tot_users  = range1 + range2 + range3 + range4
tot_users
iaas_dict = dict()
caas_dict = dict()

In [3]:
disk_rand = list()

disk_list = ['S', 'H']

for i in range(1,401):
    disk_rand += random.choice(disk_list)
    

disk_type = pd.DataFrame(disk_rand)
disk_type = disk_type.replace({'S': 'SSD', 'H': 'HDD'})

In [4]:
# disk_rand_high = list()

# disk_list = ['S', 'H']

# for i in range(1,2801):
#     disk_rand_high += random.choice(disk_list)
    

# disk_type_high = pd.DataFrame(disk_rand_high)
# disk_type_high= disk_type_high.replace({'S': 'SSD', 'H': 'HDD'})

In [5]:
# %%==============  Calculate the total resources per technology by users   =========
vm_types = ['xsmall', 'small', 'medium', 'large'] 
components = ['nginx', 'framework', 'rel_db']

# users_size = zip(users, vm_types)
# users_size

In [6]:
for users in tot_users:
    iaas_dict[users, 'nginx'] = vl.iaas.nginx(users)
    iaas_dict[users, 'framework'] = vl.iaas.framework(users)
    iaas_dict[users, 'rel_db'] = vl.iaas.rel_db(users)
    caas_dict[users, 'nginx'] = vl.caas.nginx(users)
    caas_dict[users, 'framework'] = vl.caas.framework(users)
    caas_dict[users, 'rel_db'] = vl.caas.rel_db(users)
    caas_dict[users, 'mem_db'] = vl.caas.memory_db(users)
    
# print("iaas_dict", iaas_dict)
# print("caas_dict", caas_dict)

In [7]:
iaas_tot = dict()
caas_tot = dict()

for users in tot_users:

    iaas_tot[users] = vl.iaas.total_inst(users)
    caas_tot[users] = vl.caas.total_inst(users)
    
    
# print (iaas_tot)

In [8]:
# Convert dictionary to dataframe
iaas = pd.DataFrame.from_dict(iaas_dict)
caas = pd.DataFrame.from_dict(caas_dict)
iaas_inst = pd.DataFrame(iaas_tot)
caas_inst = pd.DataFrame(caas_tot)

In [9]:
# Transpose the dataframes
iaas = iaas.transpose()
caas = caas.transpose()
iaas_total = iaas_inst.transpose()
caas_total = caas_inst.transpose()

In [10]:
# Make index to column
iaas.reset_index(inplace=True)
caas.reset_index(inplace=True)
iaas_total.reset_index(inplace=True)
caas_total.reset_index(inplace=True)
iaas

      level_0    level_1   0     1    2        3    4     5
0         651      nginx   1    17   13    267.5  SSD  iaas
1         651  framework   1    33    9    602.5  HDD  iaas
2         651     rel_db   1    25    9    102.5  SSD  iaas
3         871      nginx   1    17   13    267.5  SSD  iaas
4         871  framework   1    33    9    602.5  HDD  iaas
...       ...        ...  ..   ...  ...      ...  ...   ...
1195    21252  framework   1    33    9    602.5  HDD  iaas
1196    21252     rel_db   5   125   45    512.5  SSD  iaas
1197    66081      nginx  65  1105  845  17387.5  SSD  iaas
1198    66081  framework   2    66   18   1205.0  HDD  iaas
1199    66081     rel_db  14   350  126   1435.0  SSD  iaas

[1200 rows x 8 columns]

In [11]:
iaas = iaas.replace({ 'framework': 'NodeJs', 'rel_db': 'postgres'})
iaas

      level_0   level_1   0     1    2        3    4     5
0         651     nginx   1    17   13    267.5  SSD  iaas
1         651    NodeJs   1    33    9    602.5  HDD  iaas
2         651  postgres   1    25    9    102.5  SSD  iaas
3         871     nginx   1    17   13    267.5  SSD  iaas
4         871    NodeJs   1    33    9    602.5  HDD  iaas
...       ...       ...  ..   ...  ...      ...  ...   ...
1195    21252    NodeJs   1    33    9    602.5  HDD  iaas
1196    21252  postgres   5   125   45    512.5  SSD  iaas
1197    66081     nginx  65  1105  845  17387.5  SSD  iaas
1198    66081    NodeJs   2    66   18   1205.0  HDD  iaas
1199    66081  postgres  14   350  126   1435.0  SSD  iaas

[1200 rows x 8 columns]

In [12]:
caas = caas.replace({ 'framework': 'NodeJs', 'rel_db': 'postgres', 'mem_db': 'Redis'})
caas

      level_0   level_1   0    1    2      3    4     5
0         651     nginx   1    8    8    255  SSD  caas
1         651    NodeJs   1   32    8    600  HDD  caas
2         651  postgres   1   24    8    100  SSD  caas
3         651     Redis   1    8    4     10  HDD  caas
4         871     nginx   1    8    8    255  SSD  caas
...       ...       ...  ..  ...  ...    ...  ...   ...
1595    21252     Redis   3   24   12     30  HDD  caas
1596    66081     nginx  65  520  520  16575  SSD  caas
1597    66081    NodeJs   2   64   16   1200  HDD  caas
1598    66081  postgres  14  336  112   1400  SSD  caas
1599    66081     Redis   7   56   28     70  HDD  caas

[1600 rows x 8 columns]

In [13]:
# Rename the columns
iaas.columns = ['users', 'component', 'instances', 'RAM', 'CPU', 'STORAGE', 'Disk_type', 'technology']
caas.columns = ['users', 'component', 'instances', 'RAM', 'CPU', 'STORAGE', 'Disk_type', 'technology']
iaas_total.columns = ['users', 'iaas instances', 'storage_iaas']
caas_total.columns = ['use', 'caas instances', 'storage_caas']

In [14]:
# Concatenate the dataframes
frames = [iaas, caas]
df = pd.concat(frames, ignore_index=True)
# df = pd.concat([df, disk_type_high], ignore_index=True, axis=1)
# df.columns = ['users', 'component', 'instances', 'RAM', 'CPU', 'STORAGE', 'Disk_type', 'technology']
df.to_csv(f'datasets/user_component_randm.csv')

totals = pd.concat([iaas_total, caas_total, disk_type], axis=1)
totals = totals.rename(columns={0: 'Disk_type'})
totals = totals.drop(columns='use')
totals.to_csv(f'datasets/total_instances.csv')

df

      users component  instances  RAM  CPU  STORAGE Disk_type technology
0       651     nginx          1   17   13    267.5       SSD       iaas
1       651    NodeJs          1   33    9    602.5       HDD       iaas
2       651  postgres          1   25    9    102.5       SSD       iaas
3       871     nginx          1   17   13    267.5       SSD       iaas
4       871    NodeJs          1   33    9    602.5       HDD       iaas
...     ...       ...        ...  ...  ...      ...       ...        ...
2795  21252     Redis          3   24   12     30.0       HDD       caas
2796  66081     nginx         65  520  520  16575.0       SSD       caas
2797  66081    NodeJs          2   64   16   1200.0       HDD       caas
2798  66081  postgres         14  336  112   1400.0       SSD       caas
2799  66081     Redis          7   56   28     70.0       HDD       caas

[2800 rows x 8 columns]

In [15]:
# %% ================ Visualization ========================
#
# Grouped figured with averaged value
fig = px.histogram(df, x="technology", y=['RAM', 'CPU', 'STORAGE'] ,log_y=True,
                   barmode='group',  histfunc='avg')

fig.update_layout(
    title="Resources IaaS vs CaaS",
    xaxis_title="Cloud service design",
    yaxis_title="Average resources per users",
    legend_title="Resources",
    legend=dict(
    yanchor="top",
    y=0.99,
    xanchor="left",
    x=0.01
),
    font=dict(
        family="Courier New, monospace",
        size=32,
        color="RebeccaPurple"
    )
)

fig.show()



# fig.write_html("resources_compare.html")
# %%
# fig2 = px.scatter(df, x="users", y=['RAM', 'CPU', 'STORAGE'], facet_col='size', log_y=True)
# fig2.show()
# fig2.write_html("users_resources.html")

In [16]:
df = df.sort_values(by='users')
fig = px.line(df, x='users', y='instances', color='component', title='Instances evolution per component')

fig.update_layout(
    title="Scaling services as users evolve",
    xaxis_title="users",
    yaxis_title="Average resources per users",
    legend_title="Sevices",
    legend=dict(
    yanchor="top",
    y=0.99,
    xanchor="left",
    x=0.01
),
    font=dict(
        family="Courier New, monospace",
        size=28,
        color="RebeccaPurple"
    )
)

fig.show()

fig.show()

In [17]:
totals = totals.sort_values(by='users')
fig = px.line(totals, x='users', y=['iaas instances', 'caas instances'],
             labels={
                     "value": "Number of instances"})
fig.show()
totals

,users,iaas instances,storage_iaas,caas instances,storage_caas,Disk_type
61,10,3.0,1005.5,3,965,HDD
20,12,3.0,1005.5,3,965,SSD
39,35,3.0,1005.5,3,965,SSD
79,43,3.0,1005.5,3,965,SSD
24,46,3.0,1005.5,3,965,SSD
...,...,...,...,...,...,...
333,73378,89.0,23578.5,89,21140,HDD
341,73589,89.0,23578.5,89,21140,HDD
350,73746,90.0,23866.5,90,21395,SSD
347,74900,91.0,24154.5,91,21650,HDD
396,78411,95.0,25121.0,95,22515,SSD

In [18]:
fig = px.line(totals, x='users', y=['storage_iaas', 'storage_caas'], 
             labels={
                     "value": "Storage size(GB)"})
fig.show()

In [19]:
user_num = 65536

print("xsmall",vl.iaas.iaas_total(user_num,'xsmall'))
print("small",vl.iaas.iaas_total(user_num,'small'))
print("medium",vl.iaas.iaas_total(user_num,'medium'))
print("large",vl.iaas.iaas_total(user_num,'large'))
print('=============================================')
print("framework",vl.iaas.framework(user_num))
print("nginx",vl.iaas.nginx(user_num))
print("rel_db",vl.iaas.rel_db(user_num))
print('=============================================')
print("xsmall",vl.caas.caas_total(user_num,'xsmall'))
print("small",vl.caas.caas_total(user_num,'small'))
print("medium",vl.caas.caas_total(user_num,'medium'))
print("large",vl.caas.caas_total(user_num,'large'))
print('=============================================')
print("framework",vl.caas.framework(user_num))
print("nginx",vl.caas.nginx(user_num))
print("rel_db",vl.caas.rel_db(user_num))
print("mem_db",vl.caas.memory_db(user_num))

xsmall (130, 1568, 1040, 21159.5)
small (52, 1568, 1040, 21159.5)
medium (33, 1568, 1040, 21159.5)
large (17, 1568, 1040, 21159.5)
=============================================
framework (2, 66, 18, 1205.0, 'HDD', 'iaas')
nginx (64, 1088, 832, 17120.0, 'SSD', 'iaas')
rel_db (14, 350, 126, 1435.0, 'SSD', 'iaas')
=============================================
xsmall (87, 968, 696, 18990)
small (35, 968, 696, 18990)
medium (22, 968, 696, 18990)
large (11, 968, 696, 18990)
=============================================
framework (2, 64, 16, 1200, 'HDD', 'caas')
nginx (64, 512, 512, 16320, 'SSD', 'caas')
rel_db (14, 336, 112, 1400, 'SSD', 'caas')
mem_db (7, 56, 28, 70, 'HDD', 'caas')